.ui.feed>.event>.content>.summary {
    background-color: lightgrey;
}
.ui.feed>.event>.label+.content {
    margin:0;
    margin-left: 1em;
}
.ui.feed>.event>.content {
    max-width: 35%;
}
.ui.feed>.event>.content .summary {
    padding: .9em;
    border-radius: .7em;
    font-weight: normal
}
.ui.feed>.event>.content .meta {
    float: right;
}